{
	"extends": [
		"eslint:recommended",
		"plugin:vue/essential",
		"plugin:vue/base"
	],
	"root": true,
	"env": {
		"node": true
	},
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"plugins": [
		"vue"
	],
	"rules": {
		"vue/no-parsing-error": ["error", {
			"x-invalid-end-tag": false
		}],
		"vue/require-v-for-key": 0,
		"semi": ["warn", "never"]
	}
}
