{
    "extends": [
        "plugin:vue/essential",
        "eslint:recommended"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    },
	"rules": {
		"vue/no-parsing-error": ["error", {
			"x-invalid-end-tag": false
        }],
        "no-unused-vars": "warn"
	}
}
