{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"root": true,
	"env": {
		"node": true
	},
	//@typescript-eslint/parser
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint"
	],
	"rules": {
		"no-unused-vars": "warn",
		"no-empty-function": "warn",
		"@typescript-eslint/no-empty-function": "warn"
	}
}
